
div.ticker {
  border-radius: 5px;
  font-size: 16px;
  overflow: hidden;
}
div.ticker strong {
  background: none repeat scroll 0 0 red;
  color: #fff;
  display: inline-block;
  float: left;
  margin-right: 16px;
  padding: 0 15px;
}

div.ticker ul{}
div.ticker ul li{background-color:#acb8b5}
div.ticker ul li a{}